@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Add this to prevent mobile scrolling/overscroll bounce */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  touch-action: manipulation; /* Removes 300ms tap delay on mobile */
}